h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
title{
    color: white;
}
div{
    position: absolute;
    text-align: center;
    left: 45%;
    top: 20%;
}
body{
    color: white;
    align-content: center;
    vertical-align: center;
    margin: 0px;
    padding: 100px;
}

a{
    color: white;
}

input{
    background-color: white;
}

button{
    background-color: white;
}
*{
    background-color: #005eae;
}
