html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #dbdbdb;
    height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main {
    background-color: #005eae;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.logo {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-color: #002867;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
}

.container form {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container form div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container form input {
    box-sizing: border-box;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 8px 0;
    padding: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container form div.novaSenha {
    box-sizing: border-box;
    width: 300px;
    height: 20px;
    text-align: right;
}

.container form div.novaSenha a {
    color: #c3bcb3;
    text-decoration: none;
}

.container form p {
    width: 300px;
    color: white;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    text-align: center;
}

button {
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 180px;
    height: 50px;
    background-color: #c3bcb3;
    color: #002867;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.buttonHistory {
    font-size: 20px;
}

.separador {
    color: #c3bcb3;
}

.redefinirForm {
    height: 400px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home */
header {
    background-color: #002867;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    float: left;
    height: 80px;
    width: auto;
    margin: 0 20px;
    cursor: pointer;
}

header .tittle {
    font-size: 20px;
}

header .menu {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .menu div {
    width: 35px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}

.container-consumo {
    background-color: #dbdbdb;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.divLeitura {
    margin: 20px auto;
}

.consumoTotal {
    margin: 0px 20px;
    height: 100px;
    font-size: 30px;
}

#leitura {
    font-size: 35px;
    font-weight: bold;
}

.consumoTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.consumoTable td,
.consumoTable th {
    border: 1px solid black;
    padding: 5px;
}

.buttonLeitura {
    size: 10px;
    font-size: 20px;
}
.registerItem-button {
    background-color: #005eae;
    margin: 20px 0;
}

.cadastrarForm-Camp span {
    color: white;
}

.mainmenubtn {
    margin: 20px;
    width: 35px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}
.mainmenubtn:hover {
    background-color: blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: white;
    min-width: 130px;
}
.dropdown-child a {
    color: blue;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
